{:env-config
 {:onyx/tenancy-id #profile {:default "1" :docker #env ONYX_ID}
  :onyx.bookkeeper/server? #profile {:default true
                                     :docker false}
  :onyx.bookkeeper/local-quorum? #profile {:default true
                                           :docker false}
  :onyx.bookkeeper/delete-server-data? #profile {:default true
                                                 :docker false}
  :onyx.bookkeeper/local-quorum-ports [3181 3182 3183]
  :zookeeper/address #or [#env ZOOKEEPER_ADDR "127.0.0.1:2181"]
  :zookeeper/server? #profile {:default true :docker false}
  :zookeeper.server/port 2181
  :onyx.log/config #profile {:default nil :docker {:level :info}}}
 :peer-config
 {:onyx/tenancy-id #profile {:default "1" :docker #env ONYX_ID}
  :zookeeper/address #or [#env ZOOKEEPER_ADDR "127.0.0.1:2181"]
  :onyx.peer/job-scheduler :onyx.job-scheduler/balanced
  :onyx.peer/zookeeper-timeout 60000
  :onyx.messaging/allow-short-circuit? #profile {:default false :docker true}
  :onyx.messaging/impl :aeron
  :onyx.messaging/bind-addr #or [#env BIND_ADDR "localhost"]
  :onyx.messaging/peer-port 40200
  :onyx.messaging.aeron/embedded-driver? #profile {:default true :docker false}
  :onyx.log/config #profile {:default nil :docker {:level :info}}}
 :twitter-config
 {:twitter/consumer-key #or [#env TWITTER_CONSUMER_KEY]
  :twitter/consumer-secret #or [#env TWITTER_CONSUMER_SECRET]
  :twitter/access-token #or [#env TWITTER_ACCESS_TOKEN]
  :twitter/access-secret #or [#env TWITTER_ACCESS_SECRET]}
 :joplin-config
 {:databases {:sql {:type :sql
                    :url #profile{:default "jdbc:mysql://192.168.99.100:3306/onyx?user=admin&password=mypass"
                                  :docker "jdbc:mysql://mysql:3306/onyx?user=admin&password=mypass"}
                    :migrations-table "ragtime_migrations"}}
  :migrators {:sql-migrator "resources/migrators/sql"}
  :environments {:dev [{:db ^:ref [:joplin-config :databases :sql]
                        :migrator ^:ref [:joplin-config :migrators :sql-migrator]}]}}}
